option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    HealthCheckInterval: 15
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    Port: 80
    Protocol: HTTP

  aws:elasticbeanstalk:environment:process:default-https:
    HealthCheckPath: /api/health
    HealthCheckInterval: 15
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    Port: 443
    Protocol: HTTPS
    InstancePort: 80
    InstanceProtocol: HTTP
    DeregistrationDelay: 20
    ListenerEnabled: true

  aws:elasticbeanstalk:environment:load-balancer:
    LoadBalancerType: application
    SecurityGroups: 
    ListenerProtocol: HTTPS
    ListenerPort: 443
    InstancePort: 80
    InstanceProtocol: HTTP
    SSLPolicy: ELBSecurityPolicy-TLS-1-2-2017-01
    SSLCertificateArns: arn:aws:acm:ap-south-1:154290454406:certificate/a33c228b-9184-4eca-9953-70fd5f1d0a46

  aws:elasticbeanstalk:environment:load-balancer:http:
    ListenerEnabled: true
    ListenerPort: 80

  aws:elasticbeanstalk:environment:load-balancer:http:rules:0:
    AncestorLabel: Default
    HostHeader: 
    PathPattern: /*
    Priority: 1
    Process: default-https
    RuleAction: redirect
    RuleConditionHostHeader: 
    RuleConditionPathPattern: 
    RuleConditionSourceIp: 

  aws:ec2:security:group:ingress:0:
    CidrIp: 0.0.0.0/0
    FromPort: 443
    IpProtocol: tcp
    ToPort: 443

  aws:ec2:security:group:ingress:1:
    CidrIp: 0.0.0.0/0
    FromPort: 80
    IpProtocol: tcp
    ToPort: 80
