option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 600
    IgnoreHealthCheck: false

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NODE_PATH: /var/app/current/node_modules

  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node src/server.js"
    ProxyServer: nginx
    GzipCompression: true

  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t3.medium
    RootVolumeSize: 20
    RootVolumeType: gp2

  aws:autoscaling:asg:
    MinSize: 2
    MaxSize: 6
    DesiredCapacity: 2

  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    UpperThreshold: 70
    LowerThreshold: 30
    UpperBreachScaleIncrement: 1
    LowerBreachScaleIncrement: -1
    MeasureDimension: VarianceOfInstancesInAutoScalingGroup
